<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <title>Blog</title>
</head>

<body>
    <header class="header">
        <div>
            <a href="../index.html"><img src="../assets/logoheader.png" alt="logo" class="header__logo"></a>
        </div>
        <nav class="header__navbar">
                       <ul class="header__navbar--principal">
                <li><a href="blog.html">Blog</a></li>
                <li><a href="terapiafloral.html">Terapia Floral</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main >
        <h1 class="main__titulo">BLOG</h1>
        <section class="section__blog">
        <div class="section__blog--div">     
            <p class="section__introduccion">Aquí encontrarás información sobre Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>   
            <input type="search" placeholder="Buscar..." class="section__buscador">
            
            <div class="section__articulo">
                <h2 class="section__articulo--titulo">Título 1</h2>
                <p class="section__articulo--resumen">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#" class="section__articulo--mas"> <h3> Leer más </h3></a>
            </div>

            <div class="section__articulo">
                <h2 class="section__articulo--titulo">Título 2</h2>
                <p class="section__articulo--resumen">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#" class="section__articulo--mas"> <h3> Leer más </h3></a>
             </div>

            <div class="section__articulo">
                <h2 class="section__articulo--titulo">Título 3</h2>
                <p class="section__articulo--resumen">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#" class="section__articulo--mas"> <h3> Leer más </h3></a>
             </div>

            <div class="section__articulo">
                <h2 class="section__articulo--titulo">Título 4</h2>
                <p class="section__articulo--resumen">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#" class="section__articulo--mas"> <h3> Leer más </h3></a>
            </div>

            <div class="section__articulo">
                <h2 class="section__articulo--titulo">Título 5</h2>
                <p class="section__articulo--resumen">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#" class="section__articulo--mas"> <h3> Leer más </h3></a>
            </div>

            <div class="section__articulo">
                <h2 class="section__articulo--titulo">Título 6</h2>
                <p class="section__articulo--resumen">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#" class="section__articulo--mas"> <h3> Leer más </h3></a>
            </div>
            
            </div>
        </section>
    </main>

     <footer class="footer">
        <div class="footer__contactanos"> 
             <h3>¡Contactanos!</h3>
             <h4>-numero de tel-</h4>
             <h4>-dirección-</h4>
             <h4>-email-</h4>
        </div>

        <div class="footer__social">
            <h3>Buscanos en las redes</h3>
            <a href="#"><h4>-instagram-</h4></a>
            <a href="#"><h4>-facebook-</h4></a>
       </div>

       <div class="footer__newsletter">
             <h3>Suscribite al newsletter</h3>
             <input type="email" name="Email" id="" placeholder="Ingresa tu correo electrónico" class="footer__newsletter--input">   
        </div>
    </footer>
</body>
</html>