<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <title>Contacto</title>
</head>
<body>
    <header class="header">
        <div>
            <a href="../index.html"><img src="../assets/logoheader.png" alt="logo" class="header__logo"></a>
        </div>
        <nav class="header__navbar">
                       <ul class="header__navbar--principal">
                <li><a href="blog.html">Blog</a></li>
                <li><a href="terapiafloral.html">Terapia Floral</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="main__contacto">
        <h1 class="main__titulo">CONTACTO</h1>

            <div class="contacto__medios">
                <h4>-numero de tel-</h4>
                <h4>-dirección-</h4>
                <h4>-email-</h4>
            </div>
            <div class="contacto__redes">
                <h3>Encontranos en nuestras redes</h3>
                <a href="#"><h4>SEGUINOS EN INSTAGRAM</h4></a>
                <a href="#"><h4>SEGUINOS EN FACEBOOK</h4></a>
            </div>

            <form action="" class="contacto__formulario">
                <div class="contacto__datos">
                    <label for="Comentario">¡Dejanos tus dudas para que podamos asesorarte!</label>
                    <div class="contacto__datos--nombre">
                        <label for="Nombre">NOMBRE</label>
                         <input type="text" name="Nombre" id="" placeholder="Ingresa tu nombre">
                    </div>
                    <div class="contacto__datos--email">
                        <label for="Email">CORREO ELECTRÓNICO</label>
                        <input type="email" name="Email" id="" placeholder="Ingresa tu correo electrónico"> 
                     </div>
                     <div class="contacto__datos--telefono">
                         <label for="Telefono">TELÉFONO (Opcional)</label>
                         <input type="text" name="Telefono" id="" placeholder="Ingresa tu número de teléfono">
                     </div>
                 </div>
                <div class="contacto__mensaje">
                     <label for="Comentario">MENSAJE</label>
                     <textarea name="Comentario" id="" cols="40" rows="10">Deja tu comentario</textarea>
                     <input type="submit" value="Enviar" class="contacto__mensaje--btn">
                  </div>
    
        </form>
    </main>
    <section></section>
    <footer class="footer">
        <div class="footer__contactanos">
             <h3>¡Contactanos!</h3>
             <h4>-numero de tel-</h4>
             <h4>-dirección-</h4>
             <h4>-email-</h4>
        </div>

        <div class="footer__social">
            <h3>Buscanos en las redes</h3>
            <a href="#"><h4>-instagram-</h4></a>
            <a href="#"><h4>-facebook-</h4></a>
       </div>

       <div class="footer__newsletter">
             <h3>Suscribite al newsletter</h3>
             <input type="email" name="Email" id="" placeholder="Ingresa tu correo electrónico" class="footer__newsletter--input">   
        </div>
    </footer>
</body>
</html>