<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <title>Terapia Floral</title>
</head>
<body>
    <header class="header">
        <div>
            <a href="../index.html"><img src="../assets/logoheader.png" alt="logo" class="header__logo"></a>
        </div>
        <nav class="header__navbar">
                       <ul class="header__navbar--principal">
                <li><a href="blog.html">Blog</a></li>
                <li><a href="terapiafloral.html">Terapia Floral</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="main__terapia">
        <h1 class="main__titulo">TERAPIA FLORAL</h1>
        <p class="terapia__texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <input type="submit" value="SOLICITÁ TU GOTERO" class="terapia__gotero--btn">
        <input type="submit" value="PEDÍ TU SESIÓN" class="terapia__sesion--btn">

        <section class="section__sistemas">
            <h2  class="sistemas__titulo">SISTEMAS FLORALES</h2>
                <div class="sistemas__articulo">
                   <img src="../assets/blogdestacadosprueba.png" alt="Sistema 1" class="sistemas__img--1">
                   <a href="#"class="sistemas__subtitulo">Título sistema 1</a>
               </div>
               <div class="sistemas__articulo">
                   <img src="../assets/blogdestacadosprueba.png" alt="Sistema 2" class="sistemas__img--2">
                   <a href="#"class="sistemas__subtitulo">Título sistema 2</a>
               </div>
               <div class="sistemas__articulo">
                   <img src="../assets/blogdestacadosprueba.png" alt="Sistema 3" class="sistemas__img--3">
                   <a href="#"class="sistemas__subtitulo">Título sistema 3</a>
               </div>
               <div class="sistemas__articulo">
                   <img src="../assets/blogdestacadosprueba.png" alt="Sistema 4" class="sistemas__img--4">
                   <a href="#"class="sistemas__subtitulo">Título sistema 4</a>
               </div>
       </section>

    </main>


    <footer class="footer">
        <div class="footer__contactanos">
             <h3>¡Contactanos!</h3>
             <h4>-numero de tel-</h4>
             <h4>-dirección-</h4>
             <h4>-email-</h4>
        </div>

        <div class="footer__social">
            <h3>Buscanos en las redes</h3>
            <a href="#"><h4>-instagram-</h4></a>
            <a href="#"><h4>-facebook-</h4></a>
       </div>

       <div class="footer__newsletter">
             <h3>Suscribite al newsletter</h3>
             <input type="email" name="Email" id="" placeholder="Ingresa tu correo electrónico" class="footer__newsletter--input">   
        </div>
    </footer>
</body>
</html>